.promotion-section {
  background: url('./resources/img/bg.jpg') no-repeat;
  background-position: center;

  &__mobile-contact-from {
    display: none;
  }

  &__container {
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }

  &__promotion {
    max-width: 450px;
    width: 100%;
  }

  &__titel-discont {
    color: rgb(0, 137, 205);
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-transform: uppercase;
  }

  &__titel-slogan {
    font-size: 24px;
    line-height: 38.4px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1000px) {
  .promotion-section {
    &__contact-form {
      display: none;
    }

    &__mobile-contact-from {
      display: flex;
      justify-content: center;
      padding: 15px;
      background: #f7f7f7;
    }
  }

  .promotion-section {
    background-position: -300px 0px;
  }
}

@media (max-width: 865px) {
  .promotion-section {
    background-position: -350px 0px;
  }
}

@media (max-width: 800px) {
  .promotion-section {
    background: #f7f7f7;

    &__container {
      justify-content: center;
    }

    &__promotion {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 500px) {
  .promotion-section__titel-discont {
    font-size: 35px;
  }

  .promotion-section__titel-slogan {
    font-size: 20px;
  }
}
