.first-section {
  background: url('./img/bg.png') no-repeat;
  background-position: center;
  height: 640px;
  overflow: hidden;

  &__container {
    height: 640px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 560px;
    width: 100%;
    padding: 100px 0px;

    &-titel {
      height: 250px;
      font-size: 26px;
      font-weight: 700;
      line-height: 39px;
      color: rgb(51, 51, 51);
      margin-top: 50px;

      &-accent {
        font-size: 55px;
        font-weight: 700;
        line-height: 130%;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .first-section {
    background-position: -300px 0px;

    &__right {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .first-section {
    background-position: -400px 0px;

    &__left {
      max-width: initial;
    }
  }
}

@media (max-width: 800px) {
  .first-section {
    background-position: -550px 0px;

    &__left {
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &-titel {
        height: initial;
        margin-top: 0px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .first-section {
    background-position: -650px 0px;
  }
}

@media (max-width: 550px) {
  .first-section {
    background-position: -750px 0px;
  }

  .first-section__left-titel {
    font-size: 20px;

    &-accent {
      font-size: 40px;
    }
  }
}

@media (max-width: 450px) {
  .first-section {
    background-position: -810px 0px;
  }
}
