.product-demo {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  &__product {
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 585px;
    width: 100%;

    &-cold {
      background: linear-gradient(180deg, #c7dce9 0%, #c7dce9 0%, rgba(255, 255, 255, 0) 100%);
      border-top: 5px solid rgb(0, 137, 205);
    }

    &-warm {
      background: linear-gradient(180deg, #f7eac9 0%, #f7eac9 0%, rgba(255, 255, 255, 0) 100%);
      border-top: 5px solid rgb(255, 185, 3);
    }
  }

  &__titel {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    &-cold {
      color: rgb(0, 137, 205);
    }

    &-warm {
      color: rgb(255, 185, 3);
    }
  }

  &_img {
    width: 466px;
    height: 300px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 466px;
    width: 100%;
    margin-top: 30px;
  }

  &__list-item {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 29.4px;
  }

  &__list-item::before {
    content: ' ';
    width: 25px;
    height: 25px;
    margin-right: 17px;
    background: url('./resources/check.png');

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__calculate {
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;

    &-titel {
      font-size: 14px;
      line-height: 24px;
      color: #000;
      margin-right: 30px;

      &-accent {
        font-size: 20px;
        font-weight: 900;
      }
    }

    &-btn {
      width: 260px;
      height: auto;

      font-weight: 700;
      font-size: 17px;

      border: 1px solid #ffc600;
      border-radius: 10px;
      background: linear-gradient(180deg, #ffed26 0%, #ffb400 100%);
      box-shadow: 1px 2px 20px 0px rgba(255, 153, 0, 0.4);
      padding: 25px 0px;
    }
  }
}

// Animation 

.faded {
  animation-name: faded;
  animation-duration: 1500ms;
}

@keyframes faded {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}