.slider {
  margin-top: 80px;
  width: 1170px;
  user-select: none;
  display: flex;

  &__change-btns {
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
  }

  &__change-btns:hover {
    background-color: #c6c64622;
  }

  &-window {
    width: 1070px;
    overflow: hidden;
    display: flex;

    &__list {
      width: fit-content;
      display: flex;
      align-items: center;
      transition: transform 0.5s;
    }

    &__item {
      width: 195px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__item-btn {
      width: 100px;
      background: transparent;
    }

    &__item-img {
      height: 100px;
    }

    &__item-titel {
      font-size: 18px;
      color: rgb(51, 122, 183);
      text-decoration: underline;
      text-align: center;

      &-active {
        font-size: 18px;
        color: rgb(6, 6, 6);
        text-decoration: none;
        font-weight: 600;
        transition: font-weight 200ms;
      }
    }
  }
}

.slider-btn {
  &__previous-slide {
    &-img {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid rgb(51, 122, 183);
      border-bottom: 10px solid transparent;
    }
  }

  &__next-slide {
    &-img {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid rgb(51, 122, 183);
      border-bottom: 10px solid transparent;
    }
  }
}
