.location-section {
  &__container {
    padding-bottom: 80px;
  }

  &__block {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  &__goole-map {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-top: 30px;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    max-width: 450px;
  }

  &__item {
    font-size: 18px;
    font-weight: 600;

    &-accent {
      display: block;
      color: rgb(0, 137, 205);
      font-size: 15px;
      line-height: 120%;
      margin: 20px 0px 20px;
    }
  }
}

@media (max-width: 1000px) {
  .location-section__block {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .location-section__goole-map {
    width: 350px;
    height: 350px;
  }
}
